include devex_sdk/data_ingestion/container_insights_schema/*.json
include devex_sdk/data_ingestion/*.ini
include devex_sdk/project_inital_setup/*.sh
include devex_sdk/feature_engine/eks_feature_store/*.json